{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}

<div class="row text-center">

    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <img class='card-img-top' src="{{ object.photo | media_filter }}">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ object.price }} руб.</h2>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <p>Категория:</p>
                    <p>{{ object.category | title}}</p>
                    <p>Описание:</p>
                    <p>{{ object.description | truncatechars:100 }}</p>
                    <p>Дата создания объявления: {{ object.created_at }}</p>
                    <p>Дата изменения объявления: {{ object.updated_at }}</p>
                </ul>
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:update_product' object.pk %}">Редактировать</a>
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:home' %}" role="button">Назад</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}